
    <link rel="stylesheet" href="/assets/css/animate.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css">
    <link rel="stylesheet" href="https://startr.style/style.css" type="text/css">
    <style>
        /* reset some elements */
        body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, figure, figcaption {
            margin: 0;
            padding: 0;
        }
    </style>