
    <link rel="preconnect" href="https://startr.style" crossorigin>
    <link rel="dns-prefetch" href="https://startr.style">
    <!-- animate.css drives WOW scroll reveals only; load it off the critical path -->
    <link rel="stylesheet" href="/assets/css/animate.css" type="text/css" media="print" onload="this.media='all';this.onload=null">
    <noscript><link rel="stylesheet" href="/assets/css/animate.css" type="text/css"></noscript>
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css">
    <link rel="stylesheet" href="https://startr.style/style.min.css" type="text/css">
    {% if site.includeArticleCss %}
    <link rel="stylesheet" href="/assets/css/article.css" type="text/css">
    {% endif %}
    <style>
        /* reset some elements */
        {% if site.resetHeadings %}
        body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, figure, figcaption {
        {% else %}
        body, ul, ol, li, figure, figcaption {
        {% endif %}
            margin: 0;
            padding: 0;
        }
    </style>
