<p style="--m: 10px 0">
    <a style="--c: white" href="/en/contact/">Contact</a><br />
    <a href="https://www.facebook.com/sage.education/" target="_blank"
        style="--c: white; --td: none; --f: block; --ft: right; --m: 1em">
        Follow us on facebook
        <b style="--bg: white; --c: #333; --p: 0 0.3em; --m: 0.2em">f</b>
    </a>
</p>

<p></p>
<p style="--m: 10px 0">
    © Startr, LLC 2024<br />
    All rights reserved.<br />
    1309 Coffeen Avenue STE 4572<br />
    Sheridan Wyoming 82801<br />
</p>