<nav style="
        --bg:var(--oklch-lch-4); 
        --p:0.2em; 
        --d:flex; 
        --ai:center; 
        --fd: column;">
    <a style="
            --d: block;" href="/">
        <img alt="Sage.Education" src="https://image.startr.cloud/40x40/collaborate_
            " style="
            --p:0;">
    </a>

    <ul style="
            --d:flex; 
            --jc:center; 
            --ai:center; 
            --list:none; 
            --ta:center;
            --w:80%; 
            --p:0;">
        <li style="
                --cur:pointer; 
                --pos:relative; 
                --fx:1;">
            <a style="
                    --p:1em; 
                    --td: none; 
                    --d: block; 
                    --c: black; 
                    --translatey-hvr:-8px;" href="
                    /en/about-us/">About Us</a>
            <ul style=" 
                    --d:none; 
                    --list:none; 
                    --p:1em; 
                    --pt:0.8em; 
                    --m:0; 
                    --bgc:white; 
                    --pos:absolute; 
                    --bt:4px solid #ed1c24">
                <li style="--translatey-hvr:-8px;"><a href="/en/about-us#history">Our History</a></li>
                <li style="--translatey-hvr:-8px;"><a href="/en/about-us#vision">Our Vision
                <li style="--translatey-hvr:-8px;"><a href="/en/about-us#values">Our Values</li>
                <li style="--translatey-hvr:-8px;"><a href="/en/about-us#partnership">Partnership</li>
                <li style="--translatey-hvr:-8px;"><a href="/en/about-us#board">Board of Directors</li>
            </ul>
        </li>

        <li style=" --cur:pointer; --pos: relative; --fx:1;">
            <a style=" 
                    --p:1em; 
                    --d: block; 
                    --c: black; 
                    --td: none; 
                    --translatey-hvr:-8px;" href="
                    /en/mission">Mission</a>
            <ul style=" --d:none; 
                    --list:none; 
                    --p:1em; 
                    --pt:0.8em;
                    --m:0; 
                    --bgc:white; 
                    --pos:absolute; 
                    --bt:4px solid #ed1c24">
                <li style="--translatey-hvr:-8px;"><a href="/en/mission#upcoming">Upcoming Mission</a></li>
                <li style="--translatey-hvr:-8px;"><a href="/en/mission#past">Past Mission</a></li>
                <li style="--translatey-hvr:-8px;"><a href="/en/mission#covid-19">Covid-19</a></li>
                <li style="--translatey-hvr:-8px;"><a href="/en/mission#sponsorship">Sponsorship</a></li>
            </ul>
        </li>

        <li style=" --cur:pointer; --pos: relative; --fx:1;">
            <a style=" --p:1em; --d: block; --c: black;  --td: none; --translatey-hvr:-8px;" href="/en/get-involved">Get
                Involved</a>
            <ul style=" --d:none; --list:none; --p:1em; --pt:0.8em;
                    --m:0; --bgc:white; --pos:absolute; 
                    --bt:4px solid #ed1c24">
                <li style="--translatey-hvr:-8px;"><a href="/en/get-involved#volunteer">Be a Volunteer</a></li>
                <li style="--translatey-hvr:-8px;"><a href="/en/get-involved#apply">How to Apply?</a></li>
                <li style="--translatey-hvr:-8px;"><a href="/en/get-involved#fundraising">Fundraising</a></li>
                <li style="--translatey-hvr:-8px;"><a href="/en/get-involved#make_a_donation">Make a Donation</a></li>
            </ul>
        </li>


        <!--<li style="--cur:pointer; --pos: relative; --fx:1;">
            <a style=" --p:1em; --d: block; --c: black;  --td: none;" href="/fr/">Français</a>
        </li>-->
    </ul>
</nav>