<nav style="
        --bg:var(--oklch-lch-4); 
        --p:0.2em; 
        --d:flex; 
        --ai:center; 
        --fd: column;">
    <a style="
            --d: block;" href="/">
        <img alt="Sage.Education" 
                src="https://image.startr.cloud/40x40/collaborate_" 
                style="--p:0;">
    </a>

    <ul style="
            --d:flex; 
            --jc:center; 
            --ai:center; 
            --list:none; 
            --ta:center;
            --w:80%; 
            --p:0;">
        <li style="
                --cur:pointer; 
                --pos:relative; 
                --fx:1;">
            <a style="
                    --p:1em; 
                    --td: none; 
                    --d: block; 
                    --c: black; 
                    --translatey-hvr:-8px;" href="
                    /about-us/">About Us</a>
        </li>

        <li style=" --cur:pointer; --pos: relative; --fx:1;">
            <a style=" 
                    --p:1em; 
                    --d: block; 
                    --c: black; 
                    --td: none; 
                    --translatey-hvr:-8px;" 
                    href="/mission">Mission</a>
        </li>

        <li style=" --cur:pointer; --pos: relative; --fx:1;">
            <a style=" --p:1em; --d: block; --c: black;  --td: none; --translatey-hvr:-8px;" 
                href="/get-involved">Get Involved</a>
        </li>


        <!--<li style="--cur:pointer; --pos: relative; --fx:1;">
            <a style=" --p:1em; --d: block; --c: black;  --td: none;" href="/fr/">Français</a>
        </li>-->
    </ul>
</nav>
