---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
layout: false
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for page in collections.all %}
  {%- if not page.data.eleventyExcludeFromCollections and page.url %}
  <url>
    <loc>{{ page.url | absoluteUrl(metadata.url) }}</loc>
    {%- if page.date %}
    <lastmod>{{ (page.data.dateModified or page.date) | htmlDateString }}</lastmod>
    {%- endif %}
  </url>
  {%- endif %}
{%- endfor %}
</urlset>
