---
pagination:
  data: collections.tagList
  size: 1
  alias: tag
  addAllPagesToCollections: true
layout: false
eleventyComputed:
  title: 'Tagged "{{ tag }}"'
permalink: /tags/{{ tag }}/
---
{% extends "base.njk" %}

{% block nav %}
    {% include "components/main-nav.njk" %}
{% endblock %}

{% block main %}
<main class="main">
<div class="posts-listing">
  <h1>{{ title }}</h1>
  <h2>Articles tagged "{{ tag }}"</h2>

  {% set postslist = collections.normalizedTagCollections[tag] %}
  {% include "components/post-cards.njk" %}

  <p style="--mt:2rem"><a href="/tags/">&larr; All tags</a></p>
</div>
</main>
{% endblock %}
