<clip-svg style="--svg-url:url(/images/sage.education_logo.svg);
    --bg:linear-gradient(100deg, hsl(235, 100%, 55%), hsl(273, 100%, 55%));
    --w: 12rem;
    --minh:2em;
    --mt: 0.8em;"
    ></clip-svg>

<style>

    clip-svg {
        display: inline-block;
        /* Make it behave like a block element */

        background: ;
        /* Background to be clipped */
        background-clip: content-box;
        -webkit-mask-image: var(--svg-url);
        /* Mask with the SVG */
        mask-image: var(--svg-url);
        /* Standard mask */
        mask-size: contain;
        /* Scale the SVG to fit */
        mask-position: center;
        /* Center the SVG */
        mask-repeat: no-repeat;
        /* Prevent repeating */
    }
</style>